{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}
{% block Content %}
    <style>
        textarea
        {
            width:100%;
            min-height: 20vh;
            border-radius: 3px;
            border: 1px solid lightgrey;
        }
    </style>
    <script src="{{ plugin_path('PlentyPluginShowcase') }}/js/config-converter.js"></script>
    <h1>Convert your config.json to the new standard</h1>
    <h3>Old config.json:</h3>
    <textarea id="convert-text-area">
    </textarea>
    <div>
        <button type="button" class="btn btn-primary btn-lg btn-block" onClick="convert()">Convert</button>
    </div>
    <h3>New config.json</h3>
    <div>
        <textarea id="converted-text-area">
        </textarea>
    </div>
    <button onClick="copyTextAreaContentById('converted-text-area')" type="button" class="btn btn-primary pull-right">Copy</button>
    <h3>Config.properties</h3>
	<div>
		<textarea id="translation-text-area">
		</textarea>
	</div>
    <button onClick="copyTextAreaContentById('translation-text-area')" type="button" class="btn btn-primary pull-right">Copy</button>

{% endblock %}
