{% extends 'PlentyPluginShowcase::templates.SwaggerUi' %}

{% block HEADLINE %}
    <h1>plentymarkets Rest-Documentation</h1>
    <div class="center">
        <blockquote>We want to enhance your workflow with our API. For that reason, we built a whole new internal annotation progress. At the moment, we deliver a file you can use with your preferred API software. You either can download it or check out our GitHub repository.</blockquote>
        <a class="btn btn-primary btn-mr hidden-xs" role="button" href="https://github.com/plentymarkets/api-doc/" target="_blank">GitHub</a>
        <a class="btn btn-primary btn-mr hidden-xs" role="button" href="/downloads/openapi?type=plentymarkets" download="plentymarketsApiV2.json">Download</a>
    </div>
    <div class="center visible-xs">
        <a class="btn btn-primary btn-mr" role="button" href="https://github.com/plentymarkets/api-doc/" target="_blank">GitHub</a>
        <a class="btn btn-primary btn-mr" role="button" href="/downloads/openapi?type=plentymarkets" download="plentymarketsApiV2.json">Download</a>
    </div>
{% endblock %}

{% block OpenAPIUrl %}https://raw.githubusercontent.com/plentymarkets/api-doc/master/plentymarkets/openApiV2/openApiV2.json{% endblock %}