footer {
  background: $footer-grey;
  border-top: 2px solid $footer-border-top;
  position: relative;

  p {
    font-size: 12px;
    margin-bottom: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: $abbey-black;

    &:hover,
    &:focus {
      color: $abbey-black;
      text-decoration: none;
    }

    //sass-lint:disable-all
    .icon-referrer_backend {
      font-size: 16px;
    }
  }

  //sass-lint:enable-all

  hr {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  footer {
    .nav-pills > li {
      float: none;
    }
  }
}
