// sass-lint:disable-all
@font-face {
  font-family: 'PlentyWeb-Light';
  src: url('../documents/fonts/PlentyWeb-Light.eot');
  src: url('../documents/fonts/PlentyWeb-Light.eot?#iefix') format('embedded-opentype'), url('../documents/fonts/PlentyWeb-Light.woff2') format('woff2'), url('../documents/fonts/PlentyWeb-Light.woff') format('woff'), url('../documents/fonts/PlentyWeb-Light.ttf') format('truetype'), url('../documents/fonts/PlentyWeb-Light.svg#PlentyWeb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'plentyicons';
  src: url('../documents/fonts/plentyicons.eot?h4qsqv');
  src: url('../documents/fonts/plentyicons.eot?h4qsqv#iefix') format('embedded-opentype'), url('../documents/fonts/plentyicons.ttf?h4qsqv') format('truetype'), url('../documents/fonts/plentyicons.woff?h4qsqv') format('woff'), url('../documents/fonts/plentyicons.svg?h4qsqv#plentyicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// sass-lint:enable-all
*[class^='icon-'],
*[class*=' icon-'] {
  // sass-lint:disable-all
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // sass-lint:enable-all
  font-family: 'plentyicons';
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

// sass-lint:disable-all
.icon-plugin_linked_to_git {
  &::before {
    content: '';
  }
}

.icon-referrer_backend {
  &::before {
    content: '\ea50';
  }
}

.icon-placeholder_show_list {
  &::before {
    content: '\ea0d';
  }
}

.icon-placeholder_show_list,
.icon-download {
  font-size: 48px;
}
// sass-lint:enable-all

.icon-customer {
  &::before {
    content: '';
  }
}

.icon-forum {
  &::before {
    content: '\eaa7';
  }
}

.icon-download {
  &::before {
    content: '\e93c';
  }
}

// todo: remove this if add a new plentyicon //
.glyphicon-facetime-video,
.glyphicon-book {
  font-size: 48px;
  padding: 2px;
}
