{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

    <h1 id="routes-system-tree">Routes in the system tree</h1>
    <div class="api-docs-basics">
        <p>
            The Terra system tree offers plugin developers the opportunity to register their plugin behind a route. In doing so, the plugin becomes accessible in the system tree like a regular part of Terra. You can read about the different points of entry in the table below. Find an instruction how to register your plugin <a href="/tutorials/backendview#code-uijson">here.</a>
        </p>
    </div>

    <h2 id="plugin-positioning">Plugin positioning</h2>
    <div class="api-docs-basics">
        <p>
        In addition to inserting plugins as desired in menus under <strong>System</strong>, it is now also possible to determine their position depending on their route.
If using a route not mentioned in the list below, a parent node is created with the specified name. It appears underneath the actual entry.
In case of several entries whose last part of the route is identical, they are all inserted underneath this part of the route. Thus, only the position of the first entry is considered.
        </p>
    </div>

    <h2 id="routes-overview">Overview of the routes available in the system tree</h2>
    <div class="api-docs-basics">
        <p>
            The following routes can be accessed by plugins.
        </p>
        <div class="alert alert-info" role="alert">
            <b>Info</b>: Please note that all routes need an introducing <code>system/</code>. Older routes beginning with <code>settings/</code> will be mapped to match the new format.
        </div>

        <table class="table table-striped table-responsive table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    Route
                </th>
                <th>
                    Full system tree path name
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" style="text-align: center"><b>Settings</b></td>
            </tr>
            <tr>
                <td>
                    'settings'
                </td>
                <td>
                    <strong>System » Settings</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'settings/user'
                </td>
                <td>
                    <strong>System » Settings » User</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'settings/printer'
                </td>
                <td>
                    <strong>System » Settings » Printer</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'settings/data'
                </td>
                <td>
                    <strong>System » Settings » Data</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'settings/api'
                </td>
                <td>
                    <strong>System » Settings » API</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'settings/properties'
                </td>
                <td>
                    <strong>System » Settings » Properties</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Client</b></td>
            </tr>
            <tr>
                <td>
                    'shop'
                </td>
                <td>
                    <strong>System » Client</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'shop/settings'
                </td>
                <td>
                    <strong>System » Client » Settings</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'shop/settings/modules'
                </td>
                <td>
                    <strong>System » Client » Settings » Services</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Item</b></td>
            </tr>
            <tr>
                <td>
                    'item'
                </td>
                <td>
                    <strong>System » Item</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'item/images'
                </td>
                <td>
                    <strong>System » Item » Images</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Listings</b></td>
            </tr>
            <tr>
                <td>
                    'listings'
                </td>
                <td>
                    <strong>System » Listings</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Markets</b></td>
            </tr>
            <tr>
                <td>
                    'markets'
                </td>
                <td>
                    <strong>System » Markets</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/price-analysis'
                </td>
                <td>
                    <strong>System » Markets » Price analysis</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/allyouneed'
                </td>
                <td>
                    <strong>System » Markets » Allyouneed</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/amazon'
                </td>
                <td>
                    <strong>System » Markets » Amazon</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/amazon/data-exchange'
                </td>
                <td>
                    <strong>System » Markets » Amazon » Data exchange</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/bol'
                </td>
                <td>
                    <strong>System » Markets » bol.com</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/dawanda'
                </td>
                <td>
                    <strong>System » Markets » DaWanda</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/ebay'
                </td>
                <td>
                    <strong>System » Markets » Ebay</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/fruugo'
                </td>
                <td>
                    <strong>System » Markets » Fruugo</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/google'
                </td>
                <td>
                    <strong>System » Markets » Google</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/kauflux'
                </td>
                <td>
                    <strong>System » Markets » Kauflux</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/laredoute'
                </td>
                <td>
                    <strong>System » Markets » La Redoute</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/mercateo'
                </td>
                <td>
                    <strong>System » Markets » Mercateo</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/otto'
                </td>
                <td>
                    <strong>System » Markets » Otto</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/pixmania'
                </td>
                <td>
                    <strong>System » Markets » PIXmania</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/real'
                </td>
                <td>
                    <strong>System » Markets » real.de</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/ricardo'
                </td>
                <td>
                    <strong>System » Markets » ricardo</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/yatego'
                </td>
                <td>
                    <strong>System » Markets » Yatego</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'markets/zalando'
                </td>
                <td>
                    <strong>System » Markets » Zalando</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Stock</b></td>
            </tr>
            <tr>
                <td>
                    'stock'
                </td>
                <td>
                    <strong>System » Stock</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'stock/reorder-management'
                </td>
                <td>
                    <strong>System » Stock » Reorder management</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'stock/stock'
                </td>
                <td>
                    <strong>System » Stock » Stock</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'stock/external-stock'
                </td>
                <td>
                    <strong>System » Stock » External stock</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Customers</b></td>
            </tr>
            <tr>
                <td>
                    'crm'
                </td>
                <td>
                    <strong>System » Customers</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'crm/ticket-system'
                </td>
                <td>
                    <strong>System » Customers » Ticket system</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'crm/newsletter'
                </td>
                <td>
                    <strong>System » CRM » Newsletter</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'crm/service-units'
                </td>
                <td>
                    <strong>System » Customers » Service units</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Orders</b></td>
            </tr>
            <tr>
                <td>
                    'orders'
                </td>
                <td>
                    <strong>System » Orders</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/documents'
                </td>
                <td>
                    <strong>System » Orders » Documents</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/types'
                </td>
                <td>
                    <strong>System » Orders » Order types</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/debt-collection'
                </td>
                <td>
                    <strong>System » Orders » Debt collection</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/credit-rating'
                </td>
                <td>
                    <strong>System » Orders » Credit rating</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/shipping'
                </td>
                <td>
                    <strong>System » Orders » Shipping</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/shipping/provider'
                </td>
                <td>
                    <strong>System » Orders » Shipping » Shipping service providers</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/shipping/fulfillment'
                </td>
                <td>
                    <strong>System » Orders » Shipping » Fulfillment</strong>
                </td>
            </tr>
            <tr>
                <td>
                    'orders/payment'
                </td>
                <td>
                    <strong>System » Orders » Payment</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>CMS</b></td>
            </tr>
            <tr>
                <td>
                    'cms'
                </td>
                <td>
                    <strong>System » CMS</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>Processes</b></td>
            </tr>
            <tr>
                <td>
                    'process'
                </td>
                <td>
                    <strong>System » Processes</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><b>plenty app</b></td>
            </tr>
            <tr>
                <td>
                    'plenty-app'
                </td>
                <td>
                    <strong>System » plenty app</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}
